<!DOCTYPE html>
<html lang="es" class="scroll-smooth" data-theme="">
<%- partial('_partial/head') %>

    <% if (page.layout==="another_layout" && page.show==="list" ){ %>
    <body class="bg-[#141414]">
    <% } else { %>
    <body>
    <% } %>
    <% if (page.layout==="post" ){ %>
        <%- partial('another_layout') %>
    <% } else { %>
        <%- body %>
    <% } %>
    

    </body>

</html>