
<div class="masonry-container">

    <div class="rounded-lg bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur assumenda, ea veniam consectetur
            repellendus quis! Voluptatem totam libero iste, blanditiis cumque incidunt, quos consequatur reprehenderit
            laborum vero fugit delectus animi voluptatibus enim cupiditate minima laudantium dignissimos at reiciendis
            dicta assumenda illo! Officiis perspiciatis nemo, officia praesentium commodi animi a, reiciendis dolorum
            neque, voluptate accusantium consectetur recusandae? Neque officiis voluptatibus maiores quaerat deserunt.
            Officia facere perferendis rem praesentium deserunt iure adipisci ab optio consequuntur facilis doloremque
            exercitationem impedit dignissimos voluptatum, fugit voluptate reprehenderit? Rerum, qui velit! Ex, sapiente
            quos ullam blanditiis corporis unde dolorem natus reiciendis, facere consequuntur esse. Neque, eaque? </p>
    </div>
    <div class="rounded-lg bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quas tempora amet reiciendis tenetur cupiditate
            tempore obcaecati unde, temporibus ipsum excepturi dolorem cumque odit minus ipsa neque ex laborum
            praesentium at minima. Tempora quos enim neque beatae, ducimus sunt, ipsam quae aut eveniet similique fuga
            nostrum fugit, dolorum quibusdam! Amet, voluptatum! Ratione sapiente blanditiis omnis dolorum tenetur
            perspiciatis voluptate molestias repellendus tempora laboriosam quibusdam libero beatae quod, eaque expedita
            odio ipsum! Eligendi provident tempore eaque corporis quam id exercitationem, repudiandae ad autem dolore,
            qui reprehenderit, ratione cumque vel voluptates perferendis? Ipsa, quod qui exercitationem laborum fugiat
            aut. Perspiciatis quasi quam vel minima aspernatur, recusandae doloremque atque ipsa, possimus repudiandae
            suscipit esse minus fugit itaque! Cum iusto dolor, aut numquam quasi nesciunt fugiat aliquid, quae dolore
            inventore quia id minima eaque, tenetur culpa temporibus? At rem animi blanditiis, reprehenderit fugiat
            itaque magni quam nulla fugit maxime? Cupiditate officiis corrupti voluptatem architecto? </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, esse, quam quisquam quos cupiditate
            laudantium eveniet enim sequi quasi suscipit perspiciatis? Quas commodi porro cumque animi qui, hic labore,
            repellat quod voluptates asperiores maiores assumenda at quasi consequuntur deserunt, dolore ab? Minus in
            veniam accusantium dolorem. Dolores eos hic quas. </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit nam accusamus aut, assumenda ab laboriosam
            autem provident laborum aliquid tenetur corporis optio cupiditate voluptatibus? Cupiditate repudiandae nemo
            repellendus ipsa suscipit pariatur ad nihil magnam minus, quia quisquam, iusto odit accusantium quod ipsum
            sequi natus qui nobis tempore officiis quam blanditiis ratione a impedit! Quae, quos eius. Tempore numquam
            ipsum repellendus, quasi illo a laborum delectus labore, cupiditate sapiente saepe esse inventore? Hic
            numquam quibusdam consequuntur laudantium at ullam tempore tempora earum commodi atque cupiditate
            perferendis aut ad provident perspiciatis ut dolores reiciendis, quam repellat expedita pariatur ducimus? A
            alias id vel voluptates distinctio voluptatibus velit quae atque natus accusamus, ipsam beatae. Recusandae,
            inventore. Vitae veniam aspernatur quam illum, aperiam quasi nostrum deserunt quod consequatur quos.
            Architecto dolorem iure itaque quas. Temporibus quasi expedita quae mollitia nisi beatae sed vel nam
            excepturi inventore, totam perspiciatis suscipit aperiam optio placeat sit alias fugiat aliquid repellendus
            ab molestias laboriosam illum sint iste! Officiis atque suscipit ex nihil corporis blanditiis beatae
            doloremque fuga magnam rerum, distinctio voluptate pariatur laudantium aut? Doloremque explicabo repellendus
            debitis error vitae aliquam dolorum quo quibusdam, voluptatibus ipsam dolore excepturi, incidunt provident
            harum minima totam obcaecati. Facilis assumenda soluta debitis? </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem rerum nulla eaque corrupti culpa
            temporibus facere quos, dolores provident laboriosam excepturi id vitae repellat veritatis atque autem
            laudantium eligendi natus! </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora eaque sed exercitationem natus sunt
            molestias officiis laboriosam esse nesciunt doloribus, fugiat nisi facere odit culpa veritatis ad excepturi
            dolorem a? </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima aliquam, aperiam pariatur, voluptatibus
            quidem neque quisquam ipsa, placeat eum voluptatem nostrum qui quas. Incidunt totam facilis, dicta optio
            excepturi accusamus quidem sapiente facere sunt dolore. Iusto rem quia quos numquam doloremque ullam
            veritatis exercitationem possimus, deleniti cum aperiam. Dignissimos eveniet aperiam et maxime nulla culpa
            amet dolor quos eum labore facere at officia, blanditiis voluptatem odio error repellendus possimus
            accusantium. </p>
    </div>

    <div class="rounded-lg  bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim earum recusandae dignissimos perspiciatis
            cupiditate excepturi, corrupti doloremque omnis, laboriosam hic adipisci sit soluta, ducimus fuga.
            Perspiciatis autem itaque maiores voluptatibus ut aliquid eaque nam nesciunt deserunt veniam! Id a, sint
            reiciendis delectus eos ipsum rerum exercitationem corrupti suscipit dolores non iusto! Rem autem eum vel
            voluptate vitae culpa delectus libero modi. Corrupti rerum facere, dolores ipsam impedit quae maiores
            explicabo rem odit aperiam. Possimus quisquam dolorum sunt quam, distinctio fugit, aliquid commodi esse
            perferendis, repellendus praesentium velit. Corporis corrupti, exercitationem ex reiciendis commodi
            accusamus adipisci distinctio aliquid necessitatibus. Odit, temporibus earum! Nam deleniti neque ea quas in
            magnam, ad at voluptatum nobis non? Libero ipsum placeat dolor saepe quis harum deleniti sint! Deserunt
            dolorem totam aliquam adipisci excepturi, quae optio unde laudantium quos, ratione laborum! Est laudantium
            nulla magnam assumenda, repellendus quisquam dicta odit consectetur quasi sunt aliquam ducimus accusamus
            illum autem quaerat perferendis officia, iure dolor. Sit iure ratione corrupti quisquam assumenda est
            eveniet beatae eos non. Atque eius velit, rem eum sint quas maxime itaque repellat vitae eligendi error ad
            et, animi repudiandae debitis quod nisi blanditiis, quos quasi sequi. Doloribus delectus a adipisci sed
            ratione voluptatibus beatae minima placeat nostrum laborum, temporibus dolorum, non numquam facilis, odit
            deserunt distinctio. In, sit quisquam, ad, unde possimus quidem doloremque explicabo earum sequi perferendis
            dolorum corporis id magni ullam dolorem! </p>
    </div>
    <div class="rounded-lg  bg-gray-500 p-4 ">
        <img src="https://i.imgur.com/u1jgB1w.jpeg" alt="" />
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam voluptatem laborum, officiis iusto
            adipisci aliquid fuga labore odit amet unde facere voluptas nemo officia deserunt quidem accusantium velit?
            Ea nulla explicabo itaque, est blanditiis at! Aspernatur nulla culpa minima maiores alias praesentium
            delectus vitae accusantium unde dolorem consectetur vero fugiat harum deleniti maxime non nostrum minus
            impedit architecto tempore fugit, voluptatibus veniam labore! In, necessitatibus soluta commodi magni vero
            ea ex quaerat perspiciatis? Repellat omnis asperiores, possimus quo corporis aut nemo rerum corrupti dolorem
            temporibus sint! Eaque rem dignissimos cumque doloremque porro at nisi ex quidem deleniti quam? Commodi,
            sint! </p>
    </div>

    <%- js('js/minimasonry.min.js') %>
        <script>
            var masonry = new MiniMasonry({
                container: '.masonry-container',
                minify: false,
            }); 
        </script>

</div>