<div class="md:mx-12 lg:w-3/4 xl:w-3/5 lg:mx-auto my-5 ">
    <div class="card card-bordered bg-white">
        <%- image_tag(page.img, {alt:page.title, class:"card image-full"}) %>
        <div class="card-body bg-white text-gray-800">
            <div class="card card-title">
                <%- page.title %>
            </div>
            <p>
                <%- page.content %>
            </p>
            bg-white
        </div>
    
    </div>
</div>