<div class="masonry-container" id="masonry-container">

<% if (pagination == 2){ %>
    <% site.posts.sort("-date").forEach(function(post){ %>
      <%- partial('article', {post: post, index: true}) %>
    <% }) %>
  
  <% } else { %>
  <% } %>


  <%- js('js/minimasonry.min.js') %>
<script>
  var masonry = new MiniMasonry({
          container: '.masonry-container',
          minify: false,
          baseWidth: 320,
          gutter: 30,
      });

</script>
  <%- js('js/scrollanimation.js') %>
</div>
