<div class="container mr-auto ml-auto overflow-clip">
    <div class="flex flex-col text-white">
        <h1 class="flex py-5 lg:px-12 md:px-10 px-5 lg:mx-12 md:mx-8 mx-5 font-bold text-4xl ">
            How was my career at this moment?
        </h1>
        <p>Hi again!
            As I said in another section, I started to work in IT when I was 20 years old.
            I started in a consulting company, with .Net and more later with MERN. I met some awesome people there. And
            being more specific, Nicolás Dippolito, Nikita Dyatlov and some juniors that they was in my level like Lucas
            Rango. <br />
            There I did friends and I learned a lot of things. However I changed of job more later because I met a professor
            who tell me that I needed learn Angular and put in practice. <br />
            I have many respect to my professor of the university Mateo Ortega. I decided listen him and I get the opportunity
            in Globant.<br />
            The new job basically was work with Java and Angular, in the path I learned many technologies. <br />
            I persist in this job many time so there I did a different activities with the time. <br />
            I started like a developer with some experience, mentoring to my coworkers with less experience. <br />
            Starting with the architecture of the new project, debating with a architect of this job, working in
            different areas when someone leaves the project, inclusive I stayed like team lead of a little squad for a
            one year. <br />
            Meanwhile being to do freelancer work, and it was a great experience. In this jobs I putting in practice some
            technologies that I studied in my free time. <br />
            Besides with the pass of the months I started to teach some web technologies for trainees, I started with this
            opportunity thanks to my friend and colleague of the university, Diego Jofre.<br />
            And a few months later my leader of pod talked to me about to in my free time closing some issues in a
            project.<br />
            I accepted the opportunity because it was the job that could me gain a major seniority. <br />
            So I worked in these project for months. <br />
            And here we are. <br />

        </p>
        <h1 class="flex py-5 lg:px-12 md:px-10 px-5 lg:mx-12 md:mx-8 mx-5 font-bold text-4xl ">
            Do you want a timeline?
        </h1>
    </div>
    <div class="container">
        <div class="flex flex-col md:grid grid-cols-9 mx-auto p-2 pb-8 text-gray-700">
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
                <div class="bg-blue-400 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">.Net Developer</span>,
                        <span class="font-light text-lg"> Epidata</span>
                    </div>
                    <p class="leading-tight text-justify mb-1">
                        Development of a web platform destined for customer management in a third company. Development
                        tasks, mostly.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28 ml-5">
                            <ul class="list-disc">
                                <li>.NET MVC Framework</li>
                                <li>Entity Framework</li>
                                <li>SQL Server</li>
                                <li>Entity Framework</li>
                            </ul>
                            <ul class="list-disc">
                                <li>Bootstrap</li>
                                <li>jQuery with many plugins</li>
                                <li>Team Foundation Server</li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                    <div class="h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-blue-500 shadow"></div>
                    <div class="h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-blue-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-0 -mt-3 rounded-full bg-gray-500 shadow"></div>
                </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
                <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                    <div class="h-full w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-blue-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-blue-500 shadow"></div>
                </div>
                <div class="bg-blue-400 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">Fullstack JavaScript Developer</span>,
                        <span class="font-light text-lg">Epidata</span>
                    </div>
                    <p class="leading-tight text-justify mb-1">
                        Web development based on FLUX architecture, Stack MERN will be used for this.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28 ml-5">
                            <ul class="list-disc">
                                <li>Node.js</li>
                                <li>Express</li>
                                <li>Mongoose</li>
                                <li>Jest</li>
                            </ul>
                            <ul class="list-disc">
                                <li>React</li>
                                <li>Swagger</li>
                                <li>MongoDB</li>
                                <li>Docker Swarm</li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
                <div class="bg-lime-500 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md md:-mt-20 md:mb-20">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">Software Developer</span>,
                        <span class="font-light text-lg"> Globant</span>
                    </div>
                    <p class="leading-tight text-justify mb-1">
                        I develop Cloud Native, using architecture oriented to microservices and reactive, with patterns
                        like Poison Pill and Observer, for this I use Java Spring Boot with a frontend made it in
                        Angular.<br />
                        This development implies Google Cloud solutions.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28  ml-5">
                            <ul class="list-disc">
                                <li>Spring WebFlux</li>
                                <li>Angular 12</li>
                                <li>Karma and Jasmine</li>
                            </ul>
                            <ul class="list-disc">
                                <li>Firestore</li>
                                <li>Pub/Sub</li>
                                <li>JUnit</li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                    <div class="h-full w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-lime-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 md:top-0 -mt-3 rounded-full bg-lime-500 shadow"></div>
                </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
                <div class="col-start-5 col-end-6 mr-10 md:-mt-20 md:mx-auto relative">
                    <div class="hidden md:flex h-1/2 w-6 items-center justify-center ">
                        <div class="h-full w-1 bg-sky-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 md:top-0 -mt-3 rounded-full bg-sky-500 shadow"></div>
                    <div class="h-full md:h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-sky-800 pointer-events-none"></div>
                    </div>
                </div>
                <div class="bg-sky-400 col-start-6 col-end-10 p-4 rounded-xl my-4 md:-mt-44 md:mb-20 mr-auto shadow-md">
                    <div class="flex mb-1">
                        <h3 class="font-semibold text-lg">React Native Developer</h3>
                        <h3 class="font-light text-lg">, Querelo</h3>
                    </div>
                    <p class="leading-tight mb-1">
                        Application for iPhone and Android, my task was implementing notifications and some integration with
                        the backend, but I ended up taking other tasks in minor measures.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28 ml-5">
                            <ul class="list-disc">
                                <li>UI Kitten 5.0</li>
                                <li>React Navigation</li>
                                <li>React</li>
                            </ul>
                            <ul class="list-disc">
                                <li>JSDoc</li>
                                <li>React Native Push Notification</li>
                                <li>React Native</li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
                <div class="col-start-5 col-end-6 mr-10 md:-mt-20 md:mx-auto relative">
                    <div class="hidden md:flex h-1/2 w-6 items-center justify-center ">
                        <div class="h-full w-1 bg-sky-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-lime-500 shadow"></div>
                    <div class="h-full md:h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-lime-800 pointer-events-none"></div>
                    </div>
                </div>
                <div class="bg-lime-400 col-start-6 col-end-10 p-4 rounded-xl my-4 md:-mt-16 mr-auto shadow-md">
                    <div class="mb-1">
                        <flex class="font-semibold text-lg">System Maintenance and Consultant</flex>,
                        <flex class="font-light text-lg"> Globant</flex>
                    </div>
                    <p class="leading-tight text-justify mb-1">
                        I closed a series of issues in a system.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28  ml-5">
                            <ul class="list-disc">
                                <li>Spring</li>
                            </ul>
                            <ul class="list-disc">
                                <li>Node</li>
                            </ul>
                            <ul class="list-disc">
                                <li>AngularJS</li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
                <div class="bg-yellow-500 col-start-1 col-end-5 p-4 rounded-xl my-4 md:-mt-20 ml-auto shadow-md">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">Assistant Professor</span>,
                        <span class="font-light text-lg"> Buenos Aires City Government</span>
                    </div>
                    <p class="leading-tight mb-1">
                        Helped in classes from a provincial course where the field of development of software was promoted.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What did I teach in this course?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28  ml-5">
                            <ul class="list-disc">
                                <li>CSS</li>
                                <li>SASS</li>
                            </ul>
                            <ul class="list-disc">
                                <li>JavaScript</li>
                                <li>HTML</li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                    <div class="h-full w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-yellow-800 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 md:top-0 -mt-3 rounded-full bg-yellow-500 shadow"></div>
                </div>
            </div>
            <!-- right -->
            <div class="flex md:contents">
                <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
                    <div class="h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-sky-600 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/4 md:top-0 -mt-3 rounded-full bg-sky-500 shadow"></div>
                    <div class="h-1/2 w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-lime-800 pointer-events-none"></div>
                    </div>
                    
                </div>
                <div class="bg-sky-400 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md md:-mt-16">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">Frontend Developer</span>,
                        <span class="font-light text-lg"> Querelo</span>
                    </div>
                    <p class="leading-tight text-justify mb-1">
                        I developed an internal website for the client using React.
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28  ml-5">
                            <ul class="list-disc">
                                <li>SASS</li>
                                <li>Redux</li>
                                <li>Firebase</li>
                            </ul>
                            <ul class="list-disc">
                                <li>Notifications with service worker</li>
                                <li>React</li>
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
            <!-- left -->
            <div class="flex flex-row-reverse md:contents">
                <div class="bg-orange-200 col-start-1 col-end-5 p-4 rounded-xl my-4 md:-mt-10 ml-auto shadow-md">
                    <div class="mb-1">
                        <span class="font-semibold text-lg">Rust Developer</span>,
                        <span class="font-light text-lg"> Prex</span>
                    </div>
                    <p class="leading-tight mb-1">
                        
                    </p>
                    <details class="open:ring-black/5  open:shadow-none" close>
                        <summary class="text-sm leading-6  font-semibold select-none">
                            What I used for this project?
                        </summary>
                        <div class="md:flex items-center justify-center gap-28  ml-5">
                            <ul class="list-disc">
                                <li>Rust</li>
                            </ul>
                            <ul class="list-disc">
                                <li>Actix</li>
                            </ul>
                        </div>
                    </details>
                </div>
                <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
                    <div class="h-full w-6 flex items-center justify-center">
                        <div class="h-full w-1 bg-orange-400 pointer-events-none"></div>
                    </div>
                    <div class="w-6 h-6 absolute top-1/2 md:top-0 -mt-3 rounded-full bg-orange-200 shadow"></div>
                    <div class="w-6 h-6 flex items-center justify-center top-full rounded-full overflow-clip bg-orange-200 shadow">
                        <!-- Insert a arrow watching to down -->
                        <svg class="bg-orange-200 rotate-90  fill-slate-900" xmlns="http://www.w3.org/2000/svg" font-size="20px" height="1em" width="1em" viewBox="0 0 256 512"><path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/></svg>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div>