<div class="flex flex-col m-auto p-auto bg-stone-300">
    <div class="custom-shape-divider-top-1645399211">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none"
            class="fill-stone-300 bg-stone-200 rotate-180">
            <path
                d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                opacity=".25" class="shape-fill"></path>
            <path
                d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                opacity=".5" class="shape-fill"></path>
            <path
                d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                class="shape-fill"></path>
        </svg>
    </div>
    <h1 class="flex py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-4xl text-gray-800">
        More about me
    </h1>
    <div class="container px-5 ml-auto mr-auto mb-10">
        <div class="flex flex-wrap xl:flex-nowrap gap-4">
            <div class="w-full xl:w-2/5">
                <div class="my-0 md:my-4 flex flex-wrap sm:flex-nowrap justify-center py-1">
                    <div class="sm:w-2/3 flex pb-4 sm:pb-0 flex-col">
                        <h3 class="flex font-semibold items-center"><span
                                style="margin-right: 0.5rem; margin-top: 0.2rem;"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M18,4.48a8.45,8.45,0,0,0-12,12l5.27,5.28a1,1,0,0,0,1.42,0L18,16.43A8.45,8.45,0,0,0,18,4.48ZM16.57,15,12,19.59,7.43,15a6.46,6.46,0,1,1,9.14,0ZM9,7.41a4.32,4.32,0,0,0,0,6.1,4.31,4.31,0,0,0,7.36-3,4.24,4.24,0,0,0-1.26-3.05A4.3,4.3,0,0,0,9,7.41Zm4.69,4.68a2.33,2.33,0,1,1,.67-1.63A2.33,2.33,0,0,1,13.64,12.09Z">
                                    </path>
                                </svg></span>Buenos Aires, Argentina</h3>
                        <div class="flex font-semibold items-center">
    
                            <span style="margin-right: 0.5rem; margin-top: 0.2rem;"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                                    <path
                                        d="M14.022,7h1a1.0013,1.0013,0,0,1,1,1V9a1,1,0,0,0,2,0V8a3.00328,3.00328,0,0,0-3-3h-1a1,1,0,0,0,0,2Zm-4,9h-1a1.0013,1.0013,0,0,1-1-1V14a1,1,0,0,0-2,0v1a3.00328,3.00328,0,0,0,3,3h1a1,1,0,0,0,0-2Zm11-1a1,1,0,0,0,0-2h-3v-.5a1,1,0,0,0-2,0V13h-3a1,1,0,0,0,0,2h5.18427a6.72756,6.72756,0,0,1-1.22553,2.52667,6.66828,6.66828,0,0,1-.62915-.98272.99972.99972,0,1,0-1.77929.9121,8.67791,8.67791,0,0,0,.9591,1.468A6.6182,6.6182,0,0,1,13.10645,20.023a1.00008,1.00008,0,0,0,.42675,1.9541,8.63506,8.63506,0,0,0,3.445-1.62164,8.72368,8.72368,0,0,0,3.46857,1.62115,1,1,0,1,0,.43066-1.95312,6.72477,6.72477,0,0,1-2.4461-1.09009A8.73637,8.73637,0,0,0,20.24371,15ZM9.05176,11.24268a1.00011,1.00011,0,0,0,1.94043-.48536L9.23486,3.72754a2.28107,2.28107,0,0,0-4.42578,0L3.05176,10.75732a1.00011,1.00011,0,0,0,1.94043.48536L5.5528,9H8.49115ZM6.0528,7l.69671-2.78711a.2913.2913,0,0,1,.54492,0L7.99115,7Z">
                                    </path>
                                </svg></span>
                            <h3 class="text-center flex items-center justify-center">Spanish - English</h3>
                        </div>

                    </div>
                    <div  class="w-64 sm:w-1/3">
                        <a href="./experience/">
                        <button class="bg-slate-200 border-2 border-l-8 border-b-4 border-opacity-100 border-slate-700 rounded-r-lg rounded-bl-3xl font-semibold text-stone-700 shadow-lg shadow-slate-700
                        w-full
                        transition duration-500 ease select-none hover:text-slate-300 hover:bg-slate-600 focus:outline-none focus:shadow-outline flex items-center
                         overflow-clip " >
                            <p class="w-full" >My career</p>
                            
                            <span class="bg-slate-600 h-auto float-right flex justify-end overflow-clip">
                                <svg class="bg-slate-600 overflow-clip fill-slate-300" xmlns="http://www.w3.org/2000/svg" font-size="40px" height="1em" width="1em" viewBox="0 0 256 512"><path d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"/></svg>
                            </span>
                        </button> 
                    </a>
                    </div>
                </div>

                <div class="shadow-md rounded-xl bg-white hidden xl:block">
                    <figure class="lg:max-w-none">
                        <embed class="outline-none"
                            src="https://wakatime.com/share/@af5b3cbc-fafe-479b-a4a2-f100d10fb533/53ed755b-8d7d-4e01-92f2-9da39d256377.svg"></embed>
                    </figure>
                </div>
            </div>
            <div class="xl:w-3/5">
                <div class="story">
                    <p class="text-gray-800 text-lg">
                        I've learned various languages and frameworks and built more to-do lists then I can count.
                        <br />
                        In my adolescent years I learned how to code in PHP, HTML, CSS, and Javascript, but it was
                        like a hobby. Since then I've been learning more and more. <br />

                        About six years ago is when I started the university and assist a lot of meetings. It was a
                        great experience and the moment I decided that it will be my proffesion. I met many people
                        with the same passion and to me it was a great feeling.<br />
                        I have always been a curious individual, which is why I’d love to collaborate and do some
                        real-world projects in order to flourish my skills.<br />
                        I'm not perfect, however. I'm very far from perfection, yet I'm resilient, assertive and
                        stubborn.<br />
                        I am focused professional having excellent technical and communication skills, and offering
                        4 years of experience in Computer industry. <br />
                        Proficient at programming, writing code in various languages, feature development and
                        implementation. <br />
                        Specialized in thinking outside the box to find unique solutions to difficult engineering
                        problems.<br />
                        Very passionate about everything related to computer science, I love learning new
                        technologies.<br />
                    </p>
                </div>



            </div>
        </div>
    </div>
</div>
