@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {c
    .masonry-container {
        position: relative;
        margin: 20px auto 60px auto;
        height: 500px;
        
    }
    .masonry-container > div{
        position: absolute;
    }

    .tech-container{
        @apply md:w-1/5  flex items-center justify-center p-2;
    }

    .tech-item{
        @apply w-36 p-4 bg-white shadow-md flex flex-col items-center justify-center rounded-lg shadow-gray-600 border-2 gap-2; 
    }

    .background-playstore{
        background-image: linear-gradient(331deg, rgb(145, 250, 101) 0%, rgb(132, 248, 101) 45%, rgb(185, 250, 101) 76%);
    }

    .background-general {
        background-repeat: no-repeat;
        background-position: top;
        background-image: url("../images/background.jpg");
    }
    .story {
        @apply rounded-md;
        background:#f9f9f9;
        border-left:10px solid #424141;
        margin:1.5em 10px;
        padding:.5em 10px;
      }
      .story p{
        display:inline;
      }
    .sky{
        width: 100%;
        height: 450px;
        background-color: #032a54;
        background-repeat: repeat-x;
        background-image: -khtml-gradient(linear, left top, left bottom, from(#011428), to(#032a54));
        background-image: -moz-linear-gradient(top, #011428, #032a54);
        background-image: -ms-linear-gradient(top, #011428, #032a54);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #011428), color-stop(100%, #032a54));
        background-image: -webkit-linear-gradient(top, #011428, #032a54);
        background-image: -o-linear-gradient(top, #011428, #032a54);
        background-image: linear-gradient(top, #011428, #032a54);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#011428', endColorstr='#032a54', GradientType=0);
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    
    }
    .sky .stars {
        width: 100%;
        background: url('https://dellsystem.me/img/posts/night-sky-css/stars_small.png');

        background-image: url("../images/stars_large.png");
        background-repeat: repeat;
        background-size: 30%;
    }



}